



<div id="Add_mark_for_object_partial_id">
    @for (int i = 1; i < 6; ++i)
    {
        if (((int)ViewBag.Mark) >= i)
        {
            <div class="Add_mark_for_object_yellow_star">
                @Ajax.ActionLink("", "Change_mark_for_object", "Home", new { id = ViewBag.Id, num = i }, new AjaxOptions { UpdateTargetId = "Add_mark_for_object_partial_id" },new {@class= "link_standart_for_div" })
            </div>
        }
        if (((int)ViewBag.Mark) < i)
        {
            <div class="Add_mark_for_object_white_star">
                @Ajax.ActionLink(" ", "Change_mark_for_object", "Home", new { id = ViewBag.Id, num = i }, new AjaxOptions { UpdateTargetId = "Add_mark_for_object_partial_id" }, new { @class = "link_standart_for_div" })
            </div>
        }

    }
    
   

</div>
