


<div class="Main_header_big">
    <div class="Main_header_big_v2">

    </div>
    <div class="Main_header_big_under">
        <div class="div_inline_block Main_header_left_block">
            <div class="Main_header_sections_view">
                <ul class="Main_header_sections_list_ul">
                    <li>
                        <div class="Main_header_one_section_block div_inline_block">what1</div>
                    </li>
                    <li>
                        <div class="Main_header_one_section_block div_inline_block">what2</div>
                    </li>
                    <li>
                        <div class="Main_header_one_section_block div_inline_block">what3</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="div_inline_block Main_header_right_block">

            <div class="">@Html.Partial("_LoginPartial")</div>


            <div class="Main_header_basket_link">@Html.ActionLink("Корзина", "basket", "Home", new { }, new { })</div>


        </div>
    </div>


</div>
<div class="Main_header_small">

</div>
